mat-form-field {
    padding: 1px;
    width: 100%;
  }

  .row-container {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    background-color: lightgray;
  }

mat-dialog-actions {
  justify-content: flex-end;
}

.mat-grid-tile-content{
    padding-bottom: 0px !important;
}

.mat-form-field {
    font-size: 11px; /* Puedes ajustar el tamaño de fuente según tus necesidades */
    margin-bottom: 0px !important; /* Establecer el margen inferior a 0 */
    margin-top: 0px !important; 
}
  
  /* Reducir la altura del propio input */
  .mat-input-element {
    height: 15px !important; /* Ajusta la altura según tus necesidades */
  }
  
  /* Ajustar la altura de la línea bajo el input (barra de estado) */
  .mat-form-field-underline {
    height: 2px; /* Ajusta la altura según tus necesidades */
  }
  
  /* Ajustar la altura del indicador de foco del input */
  .mat-form-field.mat-focused .mat-form-field-ripple {
    height: 1px; /* Ajusta la altura según tus necesidades */
  }

