<div mat-dialog-content>
    <form>
      <h2>Asignar Vehiculo</h2>
      <hr>
      <div *ngFor="let item of checkboxItems">
        <mat-checkbox  color="warn" [value]="item.id_unidad" [checked]="item.checked" (change)="onCheckboxChange($event)">{{ item.nombre_unidad }}</mat-checkbox>
      </div>
      <mat-dialog-actions>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="asignarUnidad()">Agregar</button>  
            <button mat-raised-button color="warn" [mat-dialog-close]="true" >Cancelar</button>
          </mat-dialog-actions>
      </mat-dialog-actions>
    </form>
  </div>