<div mat-dialog-content>
    <form [formGroup]="myForm">
        <h2>Eliminar usuario</h2>
        <hr>
        <mat-checkbox required formControlName="check">¿Estás seguro de que deseas eliminar al usuario con nomnbre <strong> {{data.nombre_usuario}}</strong>?. Solo se prodra eliminar si no existe ningun registro reserva asignado</mat-checkbox>
        <div class="dialog-buttons">
            <button mat-raised-button color="warn" (click)="confirmarEliminacion()" [disabled]="myForm.invalid">Eliminar</button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button mat-raised-button color="primary" (click)="cerrarDialog()">Cancelar</button>
        </div>
    </form>
  </div>