  <div *ngIf="cargo == 'chofer' || cargo == 'administrador'; else componenteB">
    <app-navchofer></app-navchofer>
  </div>
  <ng-template #componenteB>
    <app-nav-usuario></app-nav-usuario>
  </ng-template>
  <br>
  <br>
  <div class="container">
      <div class="center">
        <h1>Lista de usuarios</h1>  
      </div> 
      <button mat-raised-button color="primary" (click)="abrirDialog()">+ Agregar</button>
      <br>
      <br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Carnet">
          <th mat-header-cell *matHeaderCellDef> Carnet </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.carnet_usuario }} </td>
        </ng-container>
      
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre_usuario }} </td>
        </ng-container>
      
        <ng-container matColumnDef="Celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.celular_usuario }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Login">
          <th mat-header-cell *matHeaderCellDef> Login </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.login_usuario }} </td>
        </ng-container>

        <ng-container matColumnDef="Unidad">
          <th mat-header-cell *matHeaderCellDef> Unidad </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre_unidad }} </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.estado_usuario == '1' ? 'Activo' : 'Inactivo' }} </td>
          <!-- <td mat-cell *matCellDef="let vehiculo"> {{ vehiculo.estado | estado }} </td> -->
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <!-- Agrega el botón aquí -->
            <button mat-icon-button color="accent" (click)="editarUsuario(element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="eliminarUsuario(element)"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  </div>