.container {
    padding: 1.1rem;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

.item{
    display: flex;
    justify-content: space-around;
}

th {
    background-color: #343a40 !important; 
    color: #fff;
  }
  