<div *ngIf="cargo == 'administrador'; else componenteB">
    <app-navchofer></app-navchofer>
</div>
  <ng-template #componenteB>
    <app-nav-usuario></app-nav-usuario>
  </ng-template>
  <br>
  <br>
  <div class="container">
      <div class="center">
        <h1>Lista de administradores</h1>  
      </div> 
      <button mat-raised-button color="primary" (click)="abrirDialog()">+ Agregar</button>
      <br>
      <br>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let administrador"> {{ administrador.nombre_administrador }} </td>
        </ng-container>
      
        <ng-container matColumnDef="Celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let administrador"> {{ administrador.celular_administrador }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Login">
          <th mat-header-cell *matHeaderCellDef> Login </th>
          <td mat-cell *matCellDef="let administrador"> {{ administrador.login_administrador }} </td>
        </ng-container>

        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let administrador"> {{ administrador.estado_administrador == '1' ? 'Activo' : 'Inactivo' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <!-- Agrega el botón aquí -->
            <button mat-icon-button color="accent" (click)="editarAdministrador(element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="eliminarAdministrador(element)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="primary" (click)="asignarUnidad(element)"><mat-icon>commute</mat-icon></button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  </div>