<h2 mat-dialog-title>Reserva</h2>
  <form [formGroup]="myForm">
  <div mat-dialog-content> 
      <mat-form-field>
        <mat-label>Destino</mat-label>
        <input matInput placeholder="Destino" value="" formControlName="destino" required>
      </mat-form-field>
      
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Seleccione usuario</mat-label>
            <mat-select  [(value)]="opcionSeleccionadaCliente" formControlName="usuario" [disabled]="isDisabled" [value]="identificador">
              <mat-option *ngFor="let opcion of listaUsuarios" [value]="opcion.id_usuario">
                {{ opcion.nombre_usuario }}</mat-option>
            </mat-select> 
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Nro de vale</mat-label>
            <input matInput placeholder="Nro de vale" value="0" [readonly]="isDisabled" formControlName="nroVale">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-form-field>
        <mat-label>Seleccione una horario</mat-label>
        <mat-select  required formControlName="horario">
          <mat-option *ngFor="let opcion of data" [value]="opcion.horario_final">
            {{ opcion.horario_final }} -> {{opcion.tiempo}}
            <!-- {{ opcion | json}} -->
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Km. Inicial</mat-label>
            <input matInput type="number" placeholder="Km. Inicial" [readonly]="isDisabled" formControlName="kmInicial">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Km. Final</mat-label>
            <input matInput type="number" placeholder="Km. Final" [readonly]="isDisabled" formControlName="kmFinal">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onClickNo()" [disabled]="myForm.invalid">Reservar</button>  
    <button mat-raised-button color="warn" [mat-dialog-close]="true" >Cancelar</button>
  </mat-dialog-actions>
</form>
<!-- 
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->

<!-- {{ myForm | json}} -->